body {
    font-family: inter, sans-serif;
    margin: 0;
}

.logo{
    width: 100%;
    min-width: 30px;
    max-width: 50px;
}

.font-size-corpo-1{
    font-family: Fragment-mono, inter, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
}

.font-size-corpo-2{
    font-family: Fragment-mono, inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 34px;
}

.font-size-corpo-3{
    font-size: 16px;
    line-height: 21px;
}

.font-size-1{
    font-family: inter,sans-serif;
    font-size: 60px;
}

.font-size-2{
    font-family: Fragment-mono, inter, sans-serif;
    font-size: 40px;
}


.font-size-3{
    font-family: inter,sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.text-white{
    color: white;
}

.bg-black{
   background-color: black;
}

.box-header{
    padding: 15px 0;
}


